In [38]:
from twarc import Twarc2, expansions
import json
import datetime
import pandas as pd
from pprint import pprint

In [39]:
from config import bearer_token

In [40]:
client = Twarc2(bearer_token=bearer_token)

In [41]:
user = 'elonmusk'
posts_dict = {
    'date':[],
    'text':[],
    'like_count':[],
    'quote_count':[],
    'reply_count':[],
    'retweet_count':[]
}

In [42]:
# pull posts from Twitter and create a dictionary
user_timeline = client.timeline(user=user, exclude_replies=True, start_time=datetime.datetime(2017,1,20, 0, 0, 0) )
for page in user_timeline:
    result = expansions.flatten(page)
    for tweet in result:
        posts_dict['date'].append(tweet['created_at'])
        posts_dict['text'].append(tweet['text'])
        posts_dict['like_count'].append(tweet['public_metrics']['like_count'])
        posts_dict['quote_count'].append(tweet['public_metrics']['quote_count'])
        posts_dict['reply_count'].append(tweet['public_metrics']['reply_count'])
        posts_dict['retweet_count'].append(tweet['public_metrics']['retweet_count'])

In [43]:
# convert dictionary of posts to dataframe
df = pd.DataFrame.from_dict(posts_dict)
df

,date,text,like_count,quote_count,reply_count,retweet_count
0,2021-07-07T18:48:11.000Z,Supersonic shock wave,19187,54,1053,707
1,2021-07-07T18:46:53.000Z,https://t.co/O3BGaFuMDO,33472,133,1013,1753
2,2021-07-07T16:58:11.000Z,High res landing Falcon landing video https://...,124251,1620,6850,12837
3,2021-07-06T22:09:32.000Z,https://t.co/TQZ9QvcwH1,288424,2459,16067,32327
4,2021-07-05T07:12:04.000Z,Free Britney,433153,3443,17335,52974
...,...,...,...,...,...,...
844,2020-06-10T18:21:05.000Z,Electric cars produce *much* less CO2 than fos...,4560,55,161,549
845,2020-06-10T18:07:52.000Z,https://t.co/QPwGa1Rk8Z,5217,47,180,456
846,2020-06-10T18:07:22.000Z,"Posting Tesla Impact Report, this time with su...",22732,197,761,1909
847,2020-06-10T14:15:45.000Z,Wort reading the whole thing\nhttps://t.co/4ly...,37292,389,2059,2833
848,2020-06-09T22:28:43.000Z,RT @SpaceX: Starlink fairing deploy sequence h...,0,0,0,14213

In [44]:
# Drop the NaNs.
df.dropna()

,date,text,like_count,quote_count,reply_count,retweet_count
0,2021-07-07T18:48:11.000Z,Supersonic shock wave,19187,54,1053,707
1,2021-07-07T18:46:53.000Z,https://t.co/O3BGaFuMDO,33472,133,1013,1753
2,2021-07-07T16:58:11.000Z,High res landing Falcon landing video https://...,124251,1620,6850,12837
3,2021-07-06T22:09:32.000Z,https://t.co/TQZ9QvcwH1,288424,2459,16067,32327
4,2021-07-05T07:12:04.000Z,Free Britney,433153,3443,17335,52974
...,...,...,...,...,...,...
844,2020-06-10T18:21:05.000Z,Electric cars produce *much* less CO2 than fos...,4560,55,161,549
845,2020-06-10T18:07:52.000Z,https://t.co/QPwGa1Rk8Z,5217,47,180,456
846,2020-06-10T18:07:22.000Z,"Posting Tesla Impact Report, this time with su...",22732,197,761,1909
847,2020-06-10T14:15:45.000Z,Wort reading the whole thing\nhttps://t.co/4ly...,37292,389,2059,2833
848,2020-06-09T22:28:43.000Z,RT @SpaceX: Starlink fairing deploy sequence h...,0,0,0,14213